# Julia for Data Science

## Data, Methods, and Visualization for Data Science in Julia

In [1]:
using BenchmarkTools
using DataFrames
using DelimitedFiles
using CSV
using XLSX
using Downloads

In [2]:
;ls

Julia for Data Science - JuliaAcademy.ipynb
programming_languages.csv
programminglanguages_dlm.txt
Programmminglanguage_CSV_W.csv

In [3]:
P = Downloads.download("https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv",
    "programming_languages.csv")

"programming_languages.csv"

In [4]:
;head programming_languages.csv

year,language
1951,Regional Assembly Language
1952,Autocode
1954,IPL
1955,FLOW-MATIC
1957,FORTRAN
1957,COMTRAN
1958,LISP
1958,ALGOL 58
1959,FACT

In [5]:
P,H = readdlm("programming_languages.csv",',';header=true)

(Any[1951 "Regional Assembly Language"; 1952 "Autocode"; … ; 2012 "Julia"; 2014 "Swift"], AbstractString["year" "language"])

In [6]:
H

1×2 Matrix{AbstractString}:
 "year"  "language"

In [7]:
P

73×2 Matrix{Any}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"
 1959  "RPG"
 1962  "APL"
 1962  "Simula"
    ⋮
 2003  "Scala"
 2005  "F#"
 2006  "PowerShell"
 2007  "Clojure"
 2009  "Go"
 2010  "Rust"
 2011  "Dart"
 2011  "Kotlin"
 2011  "Red"
 2011  "Elixir"
 2012  "Julia"
 2014  "Swift"

In [8]:
writedlm("programminglanguages_dlm.txt",P,'-')

In [9]:
C = CSV.read("programming_languages.csv",DataFrame)

73×2 DataFrame
 Row │ year   language
     │ Int64  String
─────┼───────────────────────────────────
   1 │  1951  Regional Assembly Language
   2 │  1952  Autocode
   3 │  1954  IPL
   4 │  1955  FLOW-MATIC
   5 │  1957  FORTRAN
   6 │  1957  COMTRAN
   7 │  1958  LISP
   8 │  1958  ALGOL 58
   9 │  1959  FACT
  10 │  1959  COBOL
  11 │  1959  RPG
  ⋮  │   ⋮                ⋮
  64 │  2006  PowerShell
  65 │  2007  Clojure
  66 │  2009  Go
  67 │  2010  Rust
  68 │  2011  Dart
  69 │  2011  Kotlin
  70 │  2011  Red
  71 │  2011  Elixir
  72 │  2012  Julia
  73 │  2014  Swift
                          52 rows omitted

In [10]:
typeof(C)

DataFrame

In [11]:
C[1:10,:]

10×2 DataFrame
 Row │ year   language
     │ Int64  String
─────┼───────────────────────────────────
   1 │  1951  Regional Assembly Language
   2 │  1952  Autocode
   3 │  1954  IPL
   4 │  1955  FLOW-MATIC
   5 │  1957  FORTRAN
   6 │  1957  COMTRAN
   7 │  1958  LISP
   8 │  1958  ALGOL 58
   9 │  1959  FACT
  10 │  1959  COBOL

In [12]:
C[:,:year]

73-element Vector{Int64}:
 1951
 1952
 1954
 1955
 1957
 1957
 1958
 1958
 1959
 1959
 1959
 1962
 1962
    ⋮
 2003
 2005
 2006
 2007
 2009
 2010
 2011
 2011
 2011
 2011
 2012
 2014

In [13]:
C.year

73-element Vector{Int64}:
 1951
 1952
 1954
 1955
 1957
 1957
 1958
 1958
 1959
 1959
 1959
 1962
 1962
    ⋮
 2003
 2005
 2006
 2007
 2009
 2010
 2011
 2011
 2011
 2011
 2012
 2014

In [14]:
C.language

73-element Vector{String}:
 "Regional Assembly Language"
 "Autocode"
 "IPL"
 "FLOW-MATIC"
 "FORTRAN"
 "COMTRAN"
 "LISP"
 "ALGOL 58"
 "FACT"
 "COBOL"
 "RPG"
 "APL"
 "Simula"
 ⋮
 "Scala"
 "F#"
 "PowerShell"
 "Clojure"
 "Go"
 "Rust"
 "Dart"
 "Kotlin"
 "Red"
 "Elixir"
 "Julia"
 "Swift"

In [15]:
@show typeof(P)

typeof(P) = Matrix{Any}

Matrix{Any} (alias for Array{Any, 2})

In [16]:
@show typeof(C)

typeof(C) = DataFrame

DataFrame

In [17]:
names(C)

2-element Vector{String}:
 "year"
 "language"

In [18]:
C.year

73-element Vector{Int64}:
 1951
 1952
 1954
 1955
 1957
 1957
 1958
 1958
 1959
 1959
 1959
 1962
 1962
    ⋮
 2003
 2005
 2006
 2007
 2009
 2010
 2011
 2011
 2011
 2011
 2012
 2014

In [19]:
describe(C)

2×7 DataFrame
 Row │ variable  mean     min       median  max        nmissing  eltype
     │ Symbol    Union…   Any       Union…  Any        Int64     DataType
─────┼────────────────────────────────────────────────────────────────────
   1 │ year      1982.99  1951      1986.0  2014              0  Int64
   2 │ language           ALGOL 58          dBase III         0  String

In [20]:
# determine which reading mode is better: readdlm or CSV

@btime P,H = readdlm("programming_languages.csv",',';header=true);
@btime C = CSV.read("programming_languages.csv", DataFrame);

  213.868 μs (325 allocations: 51.19 KiB)
  91.591 μs (227 allocations: 22.02 KiB)

In [21]:
# so CSV is a lot better and delimiter reader

In [22]:
CSV.write("Programmminglanguage_CSV_W.csv",DataFrame(P,["Year","Language"]))

"Programmminglanguage_CSV_W.csv"

In [23]:
T = XLSX.readdata("../data/zillow_data_download_april2020.xlsx","Sale_counts_city","A1:F9")

9×6 Matrix{Any}:
      "RegionID"  "RegionName"    …      "2008-03"      "2008-04"
  6181            "New York"             missing        missing
 12447            "Los Angeles"      1446           1705
 39051            "Houston"          2926           3121
 17426            "Chicago"          2910           3022
  6915            "San Antonio"   …  1479           1529
 13271            "Philadelphia"     1609           1795
 40326            "Phoenix"          1310           1519
 18959            "Las Vegas"        1618           1856

In [24]:
[x for x in T[1,:]]

6-element Vector{String}:
 "RegionID"
 "RegionName"
 "StateName"
 "SizeRank"
 "2008-03"
 "2008-04"

In [25]:
T1 = XLSX.readdata("../data/zillow_data_download_april2020.xlsx","Sale_counts_city","A1:F28765")

28765×6 Matrix{Any}:
       "RegionID"  …      "2008-03"      "2008-04"
   6181                   missing        missing
  12447               1446           1705
  39051               2926           3121
  17426               2910           3022
   6915            …  1479           1529
  13271               1609           1795
  40326               1310           1519
  18959               1618           1856
  54296                772           1057
  38128            …  1158           1232
  10221                997           1140
  33839                455            555
      ⋮            ⋱                    ⋮
 398104                  0              0
 398357                  0              0
 398712            …     0              0
 398716                  0              0
 399081                  0              0
 737789                  1              0
 760882                  0              0
       missing     …      missing        missing
       missing            missing        missing
       missing            missing        missing
       missing            missing        missing
       missing            missing        missing

In [26]:
DataFrame(T1,[x for x in T1[1,:]])

28765×6 DataFrame
   Row │ RegionID  RegionName                  StateName     SizeRank  2008-03 ⋯
       │ Any       Any                         Any           Any       Any     ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │ RegionID  RegionName                  StateName     SizeRank  2008-03 ⋯
     2 │ 6181      New York                    New York      1         missing
     3 │ 12447     Los Angeles                 California    2         1446
     4 │ 39051     Houston                     Texas         3         2926
     5 │ 17426     Chicago                     Illinois      4         2910    ⋯
     6 │ 6915      San Antonio                 Texas         5         1479
     7 │ 13271     Philadelphia                Pennsylvania  6         1609
     8 │ 40326     Phoenix                     Arizona       7         1310
     9 │ 18959     Las Vegas                   Nevada        8         1618    ⋯
    10 │ 54296     San Diego                   California    9         772
    11 │ 38128     Dallas                      Texas         10        1158
   ⋮   │    ⋮                  ⋮                    ⋮           ⋮         ⋮    ⋱
 28756 │ 398712    Bowdoin College Grant West  Maine         28755     0
 28757 │ 398716    Summerset                   South Dakota  28756     0       ⋯
 28758 │ 399081    Long Pond                   Maine         28757     0
 28759 │ 737789    Hideout                     Utah          28758     1
 28760 │ 760882    Ebeemee                     Maine         28759     0
 28761 │ missing   missing                     missing       missing   missing ⋯
 28762 │ missing   missing                     missing       missing   missing
 28763 │ missing   missing                     missing       missing   missing
 28764 │ missing   missing                     missing       missing   missing
 28765 │ missing   missing                     missing       missing   missing ⋯
                                                 1 column and 28744 rows omitted

In [63]:
G = XLSX.readdata("../data/zillow_data_download_april2020.xlsx","Sale_counts_city","A1:ER28760")

28760×148 Matrix{Any}:
       "RegionID"  …      "2020-01"      "2020-02"
   6181               4306           4054
  12447               2006           1522
  39051               2407           2682
  17426               2240           2100
   6915            …  1460           1626
  13271               2381           1620
  40326               2226           2325
  18959               2512           2547
  54296               1020               missing
  38128            …  1056           1292
  10221                759           1023
  33839                409            439
      ⋮            ⋱
 396704                   missing        missing
 396947                   missing        missing
 396952            …     0               missing
 397236                   missing        missing
 398030                  0               missing
 398104                  0               missing
 398357                  0               missing
 398712            …      missing        missing
 398716                  1              2
 399081                  0              0
 737789                   missing        missing
 760882                  1              0

In [52]:
G[:,1:5]

28760×5 Matrix{Any}:
       "RegionID"  …       "SizeRank"      "2008-03"
   6181                   1                missing
  12447                   2            1446
  39051                   3            2926
  17426                   4            2910
   6915            …      5            1479
  13271                   6            1609
  40326                   7            1310
  18959                   8            1618
  54296                   9             772
  38128            …     10            1158
  10221                  11             997
  33839                  12             455
      ⋮            ⋱
 396704               28748               0
 396947               28749               0
 396952            …  28750               0
 397236               28751               0
 398030               28752               0
 398104               28753               0
 398357               28754               0
 398712            …  28755               0
 398716               28756               0
 399081               28757               0
 737789               28758               1
 760882               28759               0

In [53]:
G[1:5,:]

5×148 Matrix{Any}:
      "RegionID"  "RegionName"   …      "2020-01"      "2020-02"
  6181            "New York"        4306           4054
 12447            "Los Angeles"     2006           1522
 39051            "Houston"         2407           2682
 17426            "Chicago"         2240           2100

In [54]:
G[1:1,1:10]

1×10 Matrix{Any}:
 "RegionID"  "RegionName"  "StateName"  …  "2008-06"  "2008-07"  "2008-08"

In [55]:
for x in G[1:1,:]
    println(x)
end

RegionID
RegionName
StateName
SizeRank
2008-03
2008-04
2008-05
2008-06
2008-07
2008-08
2008-09
2008-10
2008-11
2008-12
2009-01
2009-02
2009-03
2009-04
2009-05
2009-06
2009-07
2009-08
2009-09
2009-10
2009-11
2009-12
2010-01
2010-02
2010-03
2010-04
2010-05
2010-06
2010-07
2010-08
2010-09
2010-10
2010-11
2010-12
2011-01
2011-02
2011-03
2011-04
2011-05
2011-06
2011-07
2011-08
2011-09
2011-10
2011-11
2011-12
2012-01
2012-02
2012-03
2012-04
2012-05
2012-06
2012-07
2012-08
2012-09
2012-10
2012-11
2012-12
2013-01
2013-02
2013-03
2013-04
2013-05
2013-06
2013-07
2013-08
2013-09
2013-10
2013-11
2013-12
2014-01
2014-02
2014-03
2014-04
2014-05
2014-06
2014-07
2014-08
2014-09
2014-10
2014-11
2014-12
2015-01
2015-02
2015-03
2015-04
2015-05
2015-06
2015-07
2015-08
2015-09
2015-10
2015-11
2015-12
2016-01
2016-02
2016-03
2016-04
2016-05
2016-06
2016-07
2016-08
2016-09
2016-10
2016-11
2016-12
2017-01
2017-02
2017-03
2017-04
2017-05
2017-06
2017-07
2017-08
2017-09
2017-10
2017-11
2017-12
2018-01
2018-02
2018-03
2018-04
2018-05
2018-06
2018-07
2018-08
2018-09
2018-10
2018-11
2018-12
2019-01
2019-02
2019-03
2019-04
2019-05
2019-06
2019-07
2019-08
2019-09
2019-10
2019-11
2019-12
2020-01
2020-02

In [59]:
G[:,1]

28760-element Vector{Any}:
       "RegionID"
   6181
  12447
  39051
  17426
   6915
  13271
  40326
  18959
  54296
  38128
  10221
  33839
      ⋮
 396704
 396947
 396952
 397236
 398030
 398104
 398357
 398712
 398716
 399081
 737789
 760882

In [60]:
G[:,2]

28760-element Vector{Any}:
 "RegionName"
 "New York"
 "Los Angeles"
 "Houston"
 "Chicago"
 "San Antonio"
 "Philadelphia"
 "Phoenix"
 "Las Vegas"
 "San Diego"
 "Dallas"
 "Austin"
 "San Jose"
 ⋮
 "Bowers"
 "Beaver Cove Plantation"
 "Barnard Plantation"
 "Windsor Place"
 "Stockbridge"
 "Mattamiscontis"
 "Chase Stream"
 "Bowdoin College Grant West"
 "Summerset"
 "Long Pond"
 "Hideout"
 "Ebeemee"

In [62]:
D = DataFrame(G...)

LoadError: SYSTEM: show(lasterr) caused an error

In [70]:
foods = ["apple", "cucumber", "tomato", "banana"]
calories = [105,47,22,105]
prices = [0.85,1.6,0.8,0.6,]
dataframe_calories = DataFrame(item=foods,calories=calories)
dataframe_prices = DataFrame(item=foods,price=prices)

4×2 DataFrame
 Row │ item      price
     │ String    Float64
─────┼───────────────────
   1 │ apple        0.85
   2 │ cucumber     1.6
   3 │ tomato       0.8
   4 │ banana       0.6

In [71]:
DF = innerjoin(dataframe_calories,dataframe_prices,on=:item)

4×3 DataFrame
 Row │ item      calories  price
     │ String    Int64     Float64
─────┼─────────────────────────────
   1 │ apple          105     0.85
   2 │ cucumber        47     1.6
   3 │ tomato          22     0.8
   4 │ banana         105     0.6

In [72]:
typeof(G)

Matrix{Any} (alias for Array{Any, 2})

In [74]:
GD = DataFrame(G,[x for x in G[1,:]])

28760×148 DataFrame
   Row │ RegionID  RegionName                  StateName      SizeRank  2008-0 ⋯
       │ Any       Any                         Any            Any       Any    ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │ RegionID  RegionName                  StateName      SizeRank  2008-0 ⋯
     2 │ 6181      New York                    New York       1         missin
     3 │ 12447     Los Angeles                 California     2         1446
     4 │ 39051     Houston                     Texas          3         2926
     5 │ 17426     Chicago                     Illinois       4         2910   ⋯
     6 │ 6915      San Antonio                 Texas          5         1479
     7 │ 13271     Philadelphia                Pennsylvania   6         1609
     8 │ 40326     Phoenix                     Arizona        7         1310
     9 │ 18959     Las Vegas                   Nevada         8         1618   ⋯
    10 │ 54296     San Diego                   California     9         772
    11 │ 38128     Dallas                      Texas          10        1158
   ⋮   │    ⋮                  ⋮                     ⋮           ⋮         ⋮   ⋱
 28751 │ 396952    Barnard Plantation          Maine          28750     0
 28752 │ 397236    Windsor Place               Missouri       28751     0      ⋯
 28753 │ 398030    Stockbridge                 Wisconsin      28752     0
 28754 │ 398104    Mattamiscontis              Maine          28753     0
 28755 │ 398357    Chase Stream                Maine          28754     0
 28756 │ 398712    Bowdoin College Grant West  Maine          28755     0      ⋯
 28757 │ 398716    Summerset                   South Dakota   28756     0
 28758 │ 399081    Long Pond                   Maine          28757     0
 28759 │ 737789    Hideout                     Utah           28758     1
 28760 │ 760882    Ebeemee                     Maine          28759     0      ⋯
                                              144 columns and 28739 rows omitted

In [76]:
typeof(GD)

DataFrame

In [92]:
combine(groupby(GD, :StateName), :StateName)

28760×1 DataFrame
   Row │ StateName
       │ Any
───────┼───────────
     1 │ StateName
     2 │ New York
     3 │ New York
     4 │ New York
     5 │ New York
     6 │ New York
     7 │ New York
     8 │ New York
     9 │ New York
    10 │ New York
    11 │ New York
   ⋮   │     ⋮
 28751 │ Vermont
 28752 │ Vermont
 28753 │ Vermont
 28754 │ Vermont
 28755 │ Vermont
 28756 │ Vermont
 28757 │ Vermont
 28758 │ Vermont
 28759 │ Vermont
 28760 │ Vermont
 28739 rows omitted

In [93]:
using JLD
jld_data = JLD.load("../data/mytempdata.jld")

Dict{String, Any} with 1 entry:
  "tempdata" => [2 1446 … 1795 1890; 3 2926 … 3220 3405; 4 2910 … 2937 3224; 5 …

In [94]:
using NPZ
npz_data = npzread("../data/mytempdata.npz")

4×5 Matrix{Int64}:
 2  1446  1705  1795  1890
 3  2926  3121  3220  3405
 4  2910  3022  2937  3224
 5  1479  1529  1582  1761

In [95]:
using RData

In [96]:
R_data = RData.load("../data/mytempdata.rda")

Dict{String, Any} with 1 entry:
  "tempdata" => Int32[2 1446 … 1795 1890; 3 2926 … 3220 3405; 4 2910 … 2937 322…

In [101]:
using RCall
@rget R_data

┌ Info: Precompiling RCall [6f49c342-dc21-5d91-9882-a32aef131414]
└ @ Base loading.jl:1317

LoadError: BoundsError

In [104]:
@rput "20"

LoadError: LoadError: Incorrect usage of @rput
in expression starting at In[104]:1

In [111]:
using RCall

In [116]:
z =1400
@rput z

1400

In [117]:
@rget z

1400

In [132]:
P

73×2 Matrix{Any}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"
 1959  "RPG"
 1962  "APL"
 1962  "Simula"
    ⋮
 2003  "Scala"
 2005  "F#"
 2006  "PowerShell"
 2007  "Clojure"
 2009  "Go"
 2010  "Rust"
 2011  "Dart"
 2011  "Kotlin"
 2011  "Red"
 2011  "Elixir"
 2012  "Julia"
 2014  "Swift"

In [135]:
function year_created(P,language::String)
    loc = findfirst(P[:,2] .== language)
    return P[loc,1]
end

year_created(P,"Julia")

2012