# Julia for Data Science

## Data, Methods, and Visualization for Data Science in Julia

In [1]:
using BenchmarkTools
using DataFrames
using DelimitedFiles
using CSV
using XLSX
using Downloads

In [4]:
;ls

Julia for Data Science - JuliaAcademy.ipynb
programming_languages.csv

In [3]:
P = Downloads.download("https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv",
    "programming_languages.csv")

"programming_languages.csv"

In [6]:
;head programming_languages.csv

year,language
1951,Regional Assembly Language
1952,Autocode
1954,IPL
1955,FLOW-MATIC
1957,FORTRAN
1957,COMTRAN
1958,LISP
1958,ALGOL 58
1959,FACT

In [16]:
P,H = readdlm("programming_languages.csv",',';header=true)

(Any[1951 "Regional Assembly Language"; 1952 "Autocode"; … ; 2012 "Julia"; 2014 "Swift"], AbstractString["year" "language"])

In [17]:
H

1×2 Matrix{AbstractString}:
 "year"  "language"

In [15]:
P

73×2 Matrix{Any}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"
 1959  "RPG"
 1962  "APL"
 1962  "Simula"
    ⋮
 2003  "Scala"
 2005  "F#"
 2006  "PowerShell"
 2007  "Clojure"
 2009  "Go"
 2010  "Rust"
 2011  "Dart"
 2011  "Kotlin"
 2011  "Red"
 2011  "Elixir"
 2012  "Julia"
 2014  "Swift"

In [18]:
writedlm("programminglanguages_dlm.txt",P,'-')

In [20]:
C = CSV.read("programming_languages.csv",DataFrame)

73×2 DataFrame
 Row │ year   language
     │ Int64  String
─────┼───────────────────────────────────
   1 │  1951  Regional Assembly Language
   2 │  1952  Autocode
   3 │  1954  IPL
   4 │  1955  FLOW-MATIC
   5 │  1957  FORTRAN
   6 │  1957  COMTRAN
   7 │  1958  LISP
   8 │  1958  ALGOL 58
   9 │  1959  FACT
  10 │  1959  COBOL
  11 │  1959  RPG
  ⋮  │   ⋮                ⋮
  64 │  2006  PowerShell
  65 │  2007  Clojure
  66 │  2009  Go
  67 │  2010  Rust
  68 │  2011  Dart
  69 │  2011  Kotlin
  70 │  2011  Red
  71 │  2011  Elixir
  72 │  2012  Julia
  73 │  2014  Swift
                          52 rows omitted

In [21]:
typeof(C)

DataFrame

In [23]:
C[1:10,:]

10×2 DataFrame
 Row │ year   language
     │ Int64  String
─────┼───────────────────────────────────
   1 │  1951  Regional Assembly Language
   2 │  1952  Autocode
   3 │  1954  IPL
   4 │  1955  FLOW-MATIC
   5 │  1957  FORTRAN
   6 │  1957  COMTRAN
   7 │  1958  LISP
   8 │  1958  ALGOL 58
   9 │  1959  FACT
  10 │  1959  COBOL

In [24]:
C[:,:year]

73-element Vector{Int64}:
 1951
 1952
 1954
 1955
 1957
 1957
 1958
 1958
 1959
 1959
 1959
 1962
 1962
    ⋮
 2003
 2005
 2006
 2007
 2009
 2010
 2011
 2011
 2011
 2011
 2012
 2014

In [25]:
C.year

73-element Vector{Int64}:
 1951
 1952
 1954
 1955
 1957
 1957
 1958
 1958
 1959
 1959
 1959
 1962
 1962
    ⋮
 2003
 2005
 2006
 2007
 2009
 2010
 2011
 2011
 2011
 2011
 2012
 2014

In [26]:
C.language

73-element Vector{String}:
 "Regional Assembly Language"
 "Autocode"
 "IPL"
 "FLOW-MATIC"
 "FORTRAN"
 "COMTRAN"
 "LISP"
 "ALGOL 58"
 "FACT"
 "COBOL"
 "RPG"
 "APL"
 "Simula"
 ⋮
 "Scala"
 "F#"
 "PowerShell"
 "Clojure"
 "Go"
 "Rust"
 "Dart"
 "Kotlin"
 "Red"
 "Elixir"
 "Julia"
 "Swift"

In [27]:
@show typeof(P)

typeof(P) = Matrix{Any}

Matrix{Any} (alias for Array{Any, 2})

In [28]:
@show typeof(C)

typeof(C) = DataFrame

DataFrame

In [29]:
names(C)

2-element Vector{String}:
 "year"
 "language"

In [30]:
C.year

73-element Vector{Int64}:
 1951
 1952
 1954
 1955
 1957
 1957
 1958
 1958
 1959
 1959
 1959
 1962
 1962
    ⋮
 2003
 2005
 2006
 2007
 2009
 2010
 2011
 2011
 2011
 2011
 2012
 2014

In [31]:
describe(C)

2×7 DataFrame
 Row │ variable  mean     min       median  max        nmissing  eltype
     │ Symbol    Union…   Any       Union…  Any        Int64     DataType
─────┼────────────────────────────────────────────────────────────────────
   1 │ year      1982.99  1951      1986.0  2014              0  Int64
   2 │ language           ALGOL 58          dBase III         0  String

In [32]:
# determine which reading mode is better: readdlm or CSV

@btime P,H = readdlm("programming_languages.csv",',';header=true);
@btime C = CSV.read("programming_languages.csv", DataFrame);

  216.291 μs (325 allocations: 51.19 KiB)
  91.703 μs (227 allocations: 22.02 KiB)

In [33]:
# so CSV is a lot better and delimiter reader

In [40]:
CSV.write("Programmminglanguage_CSV_W.csv",DataFrame(P,["Year","Language"]))

"Programmminglanguage_CSV_W.csv"

In [71]:
T = XLSX.readdata("../data/zillow_data_download_april2020.xlsx","Sale_counts_city","A1:F9")

9×6 Matrix{Any}:
      "RegionID"  "RegionName"    …      "2008-03"      "2008-04"
  6181            "New York"             missing        missing
 12447            "Los Angeles"      1446           1705
 39051            "Houston"          2926           3121
 17426            "Chicago"          2910           3022
  6915            "San Antonio"   …  1479           1529
 13271            "Philadelphia"     1609           1795
 40326            "Phoenix"          1310           1519
 18959            "Las Vegas"        1618           1856

In [67]:
[x for x in T[1,:]]

6-element Vector{String}:
 "RegionID"
 "RegionName"
 "StateName"
 "SizeRank"
 "2008-03"
 "2008-04"

In [77]:
T1 = XLSX.readdata("../data/zillow_data_download_april2020.xlsx","Sale_counts_city","A1:F28765")

28765×6 Matrix{Any}:
       "RegionID"  …      "2008-03"      "2008-04"
   6181                   missing        missing
  12447               1446           1705
  39051               2926           3121
  17426               2910           3022
   6915            …  1479           1529
  13271               1609           1795
  40326               1310           1519
  18959               1618           1856
  54296                772           1057
  38128            …  1158           1232
  10221                997           1140
  33839                455            555
      ⋮            ⋱                    ⋮
 398104                  0              0
 398357                  0              0
 398712            …     0              0
 398716                  0              0
 399081                  0              0
 737789                  1              0
 760882                  0              0
       missing     …      missing        missing
       missing            missing        missing
       missing            missing        missing
       missing            missing        missing
       missing            missing        missing

In [78]:
DataFrame(T1,[x for x in T1[1,:]])

28765×6 DataFrame
   Row │ RegionID  RegionName                  StateName     SizeRank  2008-03 ⋯
       │ Any       Any                         Any           Any       Any     ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │ RegionID  RegionName                  StateName     SizeRank  2008-03 ⋯
     2 │ 6181      New York                    New York      1         missing
     3 │ 12447     Los Angeles                 California    2         1446
     4 │ 39051     Houston                     Texas         3         2926
     5 │ 17426     Chicago                     Illinois      4         2910    ⋯
     6 │ 6915      San Antonio                 Texas         5         1479
     7 │ 13271     Philadelphia                Pennsylvania  6         1609
     8 │ 40326     Phoenix                     Arizona       7         1310
     9 │ 18959     Las Vegas                   Nevada        8         1618    ⋯
    10 │ 54296     San Diego                   California    9         772
    11 │ 38128     Dallas                      Texas         10        1158
   ⋮   │    ⋮                  ⋮                    ⋮           ⋮         ⋮    ⋱
 28756 │ 398712    Bowdoin College Grant West  Maine         28755     0
 28757 │ 398716    Summerset                   South Dakota  28756     0       ⋯
 28758 │ 399081    Long Pond                   Maine         28757     0
 28759 │ 737789    Hideout                     Utah          28758     1
 28760 │ 760882    Ebeemee                     Maine         28759     0
 28761 │ missing   missing                     missing       missing   missing ⋯
 28762 │ missing   missing                     missing       missing   missing
 28763 │ missing   missing                     missing       missing   missing
 28764 │ missing   missing                     missing       missing   missing
 28765 │ missing   missing                     missing       missing   missing ⋯
                                                 1 column and 28744 rows omitted