# Loading and elementary processing of data

In [12]:
using Pkg
Pkg.activate(".")
Pkg.instantiate()

In [13]:
include("start.jl")

"/home/sandhya/shailendra-repo/Julia_projects/Julia/MLJ_tutorials"

In [14]:
using RDatasets

In [17]:
boston = dataset("MASS","Boston")

506×14 DataFrame
 Row │ Crim     Zn       Indus    Chas   NOx      Rm       Age      Dis      R ⋯
     │ Float64  Float64  Float64  Int64  Float64  Float64  Float64  Float64  I ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 0.00632     18.0     2.31      0    0.538    6.575     65.2   4.09    1 ⋯
   2 │ 0.02731      0.0     7.07      0    0.469    6.421     78.9   4.9671  2
   3 │ 0.02729      0.0     7.07      0    0.469    7.185     61.1   4.9671  2
   4 │ 0.03237      0.0     2.18      0    0.458    6.998     45.8   6.0622  3
   5 │ 0.06905      0.0     2.18      0    0.458    7.147     54.2   6.0622  3 ⋯
   6 │ 0.02985      0.0     2.18      0    0.458    6.43      58.7   6.0622  3
   7 │ 0.08829     12.5     7.87      0    0.524    6.012     66.6   5.5605  5
   8 │ 0.14455     12.5     7.87      0    0.524    6.172     96.1   5.9505  5
   9 │ 0.21124     12.5     7.87      0    0.524    5.631    100.0   6.0821  5 ⋯
  10 │ 0.17004     12.5     7.87      0    0.524    6.004     85.9   6.5921  5
  11 │ 0.22489     12.5     7.87      0    0.524    6.377     94.3   6.3467  5
  ⋮  │    ⋮        ⋮        ⋮       ⋮       ⋮        ⋮        ⋮        ⋮       ⋱
 497 │ 0.2896       0.0     9.69      0    0.585    5.39      72.9   2.7986  6
 498 │ 0.26838      0.0     9.69      0    0.585    5.794     70.6   2.8927  6 ⋯
 499 │ 0.23912      0.0     9.69      0    0.585    6.019     65.3   2.4091  6
 500 │ 0.17783      0.0     9.69      0    0.585    5.569     73.5   2.3999  6
 501 │ 0.22438      0.0     9.69      0    0.585    6.027     79.7   2.4982  6
 502 │ 0.06263      0.0    11.93      0    0.573    6.593     69.1   2.4786  1 ⋯
 503 │ 0.04527      0.0    11.93      0    0.573    6.12      76.7   2.2875  1
 504 │ 0.06076      0.0    11.93      0    0.573    6.976     91.0   2.1675  1
 505 │ 0.10959      0.0    11.93      0    0.573    6.794     89.3   2.3889  1
 506 │ 0.04741      0.0    11.93      0    0.573    6.03      80.8   2.505   1 ⋯
                                                  6 columns and 485 rows omitted

In [18]:
typeof(boston)

DataFrame

In [19]:
names(boston)

14-element Vector{String}:
 "Crim"
 "Zn"
 "Indus"
 "Chas"
 "NOx"
 "Rm"
 "Age"
 "Dis"
 "Rad"
 "Tax"
 "PTRatio"
 "Black"
 "LStat"
 "MedV"

In [20]:
propertynames(boston)

14-element Vector{Symbol}:
 :Crim
 :Zn
 :Indus
 :Chas
 :NOx
 :Rm
 :Age
 :Dis
 :Rad
 :Tax
 :PTRatio
 :Black
 :LStat
 :MedV

In [26]:
using CSV
fpath = joinpath("data","foo.csv")
data =  CSV.read(fpath, DataFrame)

3×8 DataFrame
 Row │ col1     col2   col3     col4     col5    col6        col7              ⋯
     │ Missing  Int64  Float64  Float64  String  Date…       DateTime…         ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ missing      1      1.0     1.0   one     2019-01-01  2019-01-01T00:00: ⋯
   2 │ missing      2      2.0     2.0   two     2019-01-02  2019-01-02T00:00:
   3 │ missing      3      3.0     3.14  three   2019-01-03  2019-01-03T00:00:
                                                               2 columns omitted

In [27]:
typeof(data)

DataFrame

In [31]:
header = ["CIC0", "SM1_Dz", "GATS1i",
          "NdsCH", "NdssC", "MLOGP", "LC50","MIS"]

8-element Vector{String}:
 "CIC0"
 "SM1_Dz"
 "GATS1i"
 "NdsCH"
 "NdssC"
 "MLOGP"
 "LC50"
 "MIS"

In [33]:
data = CSV.read(fpath, DataFrame,header = header)
first(data,3)

3×8 DataFrame
 Row │ CIC0     SM1_Dz  GATS1i  NdsCH   NdssC   MLOGP       LC50               ⋯
     │ String?  String  String  String  String  String      String             ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ col1     col2    col3    col4    col5    col6        col7               ⋯
   2 │ missing  1       1.0     1       one     2019-01-01  2019-01-01T00:00:0
   3 │ missing  2       2.0     2       two     2019-01-02  2019-01-02T00:00:0
                                                               2 columns omitted

In [44]:
data = CSV.read(fpath, DataFrame, header = false, missingstring="?")

4×8 DataFrame
 Row │ Column1  Column2  Column3  Column4  Column5  Column6     Column7        ⋯
     │ String   String   String   String   String   String      String         ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ col1     col2     col3     col4     col5     col6        col7           ⋯
   2 │          1        1.0      1        one      2019-01-01  2019-01-01T00:
   3 │          2        2.0      2        two      2019-01-02  2019-01-02T00:
   4 │          3        3.0      3.14     three    2019-01-03  2019-01-03T00:
                                                               2 columns omitted

# Manipulating a DataFrame

In [45]:
typeof(boston)

DataFrame

In [46]:
names(boston)

14-element Vector{String}:
 "Crim"
 "Zn"
 "Indus"
 "Chas"
 "NOx"
 "Rm"
 "Age"
 "Dis"
 "Rad"
 "Tax"
 "PTRatio"
 "Black"
 "LStat"
 "MedV"

In [47]:
first(boston,4)

4×14 DataFrame
 Row │ Crim     Zn       Indus    Chas   NOx      Rm       Age      Dis      R ⋯
     │ Float64  Float64  Float64  Int64  Float64  Float64  Float64  Float64  I ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 0.00632     18.0     2.31      0    0.538    6.575     65.2   4.09    1 ⋯
   2 │ 0.02731      0.0     7.07      0    0.469    6.421     78.9   4.9671  2
   3 │ 0.02729      0.0     7.07      0    0.469    7.185     61.1   4.9671  2
   4 │ 0.03237      0.0     2.18      0    0.458    6.998     45.8   6.0622  3
                                                               6 columns omitted

In [48]:
boston.Crim[1:5]

5-element Vector{Float64}:
 0.00632
 0.02731
 0.02729
 0.03237
 0.06905

In [49]:
boston[3,5]

0.469

In [51]:
boston[1:5,[:Crim, :Zn]]

5×2 DataFrame
 Row │ Crim     Zn
     │ Float64  Float64
─────┼──────────────────
   1 │ 0.00632     18.0
   2 │ 0.02731      0.0
   3 │ 0.02729      0.0
   4 │ 0.03237      0.0
   5 │ 0.06905      0.0

In [53]:
boston[1:5, 1:2]

5×2 DataFrame
 Row │ Crim     Zn
     │ Float64  Float64
─────┼──────────────────
   1 │ 0.00632     18.0
   2 │ 0.02731      0.0
   3 │ 0.02729      0.0
   4 │ 0.03237      0.0
   5 │ 0.06905      0.0

In [56]:
b1 = select(boston,[:Crim, :Zn, :Indus])
first(b1,2)

2×3 DataFrame
 Row │ Crim     Zn       Indus
     │ Float64  Float64  Float64
─────┼───────────────────────────
   1 │ 0.00632     18.0     2.31
   2 │ 0.02731      0.0     7.07

In [61]:
b2 = select(boston, Not(:NOx))
first(b2)

DataFrameRow
 Row │ Crim     Zn       Indus    Chas   Rm       Age      Dis      Rad    Tax ⋯
     │ Float64  Float64  Float64  Int64  Float64  Float64  Float64  Int64  Int ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 0.00632     18.0     2.31      0    6.575     65.2     4.09      1  296 ⋯
                                                               5 columns omitted

In [64]:
select!(b1, Not(:Crim))
first(b1)

DataFrameRow
 Row │ Zn       Indus
     │ Float64  Float64
─────┼──────────────────
   1 │    18.0     2.31

In [66]:
first(b1)

DataFrameRow
 Row │ Zn       Indus
     │ Float64  Float64
─────┼──────────────────
   1 │    18.0     2.31

In [67]:
using StatsBase

In [68]:
describe(boston)

14×7 DataFrame
 Row │ variable  mean        min      median     max      nmissing  eltype
     │ Symbol    Float64     Real     Float64    Real     Int64     DataType
─────┼───────────────────────────────────────────────────────────────────────
   1 │ Crim        3.61352   0.00632    0.25651  88.9762         0  Float64
   2 │ Zn         11.3636        0.0    0.0        100.0         0  Float64
   3 │ Indus      11.1368       0.46    9.69       27.74         0  Float64
   4 │ Chas        0.06917         0    0.0            1         0  Int64
   5 │ NOx         0.554695    0.385    0.538      0.871         0  Float64
   6 │ Rm          6.28463     3.561    6.2085      8.78         0  Float64
   7 │ Age        68.5749        2.9   77.5        100.0         0  Float64
   8 │ Dis         3.79504    1.1296    3.20745  12.1265         0  Float64
   9 │ Rad         9.54941         1    5.0           24         0  Int64
  10 │ Tax       408.237         187  330.0          711         0  Int64
  11 │ PTRatio    18.4555       12.6   19.05        22.0         0  Float64
  12 │ Black     356.674        0.32  391.44       396.9         0  Float64
  13 │ LStat      12.6531       1.73   11.36       37.97         0  Float64
  14 │ MedV       22.5328        5.0   21.2         50.0         0  Float64

In [70]:
describe(boston, :min,:max,:mean,:median,:std)

14×6 DataFrame
 Row │ variable  min      max      mean        median     std
     │ Symbol    Real     Real     Float64     Float64    Float64
─────┼───────────────────────────────────────────────────────────────
   1 │ Crim      0.00632  88.9762    3.61352     0.25651    8.60155
   2 │ Zn            0.0    100.0   11.3636      0.0       23.3225
   3 │ Indus        0.46    27.74   11.1368      9.69       6.86035
   4 │ Chas            0        1    0.06917     0.0        0.253994
   5 │ NOx         0.385    0.871    0.554695    0.538      0.115878
   6 │ Rm          3.561     8.78    6.28463     6.2085     0.702617
   7 │ Age           2.9    100.0   68.5749     77.5       28.1489
   8 │ Dis        1.1296  12.1265    3.79504     3.20745    2.10571
   9 │ Rad             1       24    9.54941     5.0        8.70726
  10 │ Tax           187      711  408.237     330.0      168.537
  11 │ PTRatio      12.6     22.0   18.4555     19.05       2.16495
  12 │ Black        0.32    396.9  356.674     391.44      91.2949
  13 │ LStat        1.73    37.97   12.6531     11.36       7.14106
  14 │ MedV          5.0     50.0   22.5328     21.2        9.1971

In [72]:
describe(boston, :all)

14×13 DataFrame
 Row │ variable  mean        std         min      q25         median     q75   ⋯
     │ Symbol    Float64     Float64     Real     Float64     Float64    Float ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Crim        3.61352     8.60155   0.00632    0.082045    0.25651    3.6 ⋯
   2 │ Zn         11.3636     23.3225        0.0    0.0         0.0       12.5
   3 │ Indus      11.1368      6.86035      0.46    5.19        9.69      18.1
   4 │ Chas        0.06917     0.253994        0    0.0         0.0        0.0
   5 │ NOx         0.554695    0.115878    0.385    0.449       0.538      0.6 ⋯
   6 │ Rm          6.28463     0.702617    3.561    5.8855      6.2085     6.6
   7 │ Age        68.5749     28.1489        2.9   45.025      77.5       94.0
   8 │ Dis         3.79504     2.10571    1.1296    2.10018     3.20745    5.1
   9 │ Rad         9.54941     8.70726         1    4.0         5.0       24.0 ⋯
  10 │ Tax       408.237     168.537         187  279.0       330.0      666.0
  11 │ PTRatio    18.4555      2.16495      12.6   17.4        19.05      20.2
  12 │ Black     356.674      91.2949       0.32  375.377     391.44     396.2
  13 │ LStat      12.6531      7.14106      1.73    6.95       11.36      16.9 ⋯
  14 │ MedV       22.5328      9.1971        5.0   17.025      21.2       25.0
                                                               7 columns omitted

In [73]:
# you can also pass a custom function to desctibe

In [80]:
foo(x) = sum(abs.(x)) / length(x)
d = describe(boston, :mean, :median, :foofa => foo)
first(d, 3)

3×4 DataFrame
 Row │ variable  mean      median   foofa
     │ Symbol    Float64   Float64  Float64
─────┼───────────────────────────────────────
   1 │ Crim       3.61352  0.25651   3.61352
   2 │ Zn        11.3636   0.0      11.3636
   3 │ Indus     11.1368   9.69     11.1368

In [83]:
cg_avg(x) = sum(abs.(x))/length(x)
d4 = describe(boston, :max,:mean, :cg_avg => cg_avg)

14×4 DataFrame
 Row │ variable  max      mean        cg_avg
     │ Symbol    Real     Float64     Float64
─────┼───────────────────────────────────────────
   1 │ Crim      88.9762    3.61352     3.61352
   2 │ Zn          100.0   11.3636     11.3636
   3 │ Indus       27.74   11.1368     11.1368
   4 │ Chas            1    0.06917     0.06917
   5 │ NOx         0.871    0.554695    0.554695
   6 │ Rm           8.78    6.28463     6.28463
   7 │ Age         100.0   68.5749     68.5749
   8 │ Dis       12.1265    3.79504     3.79504
   9 │ Rad            24    9.54941     9.54941
  10 │ Tax           711  408.237     408.237
  11 │ PTRatio      22.0   18.4555     18.4555
  12 │ Black       396.9  356.674     356.674
  13 │ LStat       37.97   12.6531     12.6531
  14 │ MedV         50.0   22.5328     22.5328

In [86]:
# Further to StatsBase, Statistics offers a range of 
# useful functions for data analysis.
using Statistics

## Converting the data

In [88]:
first(boston,5)

5×14 DataFrame
 Row │ Crim     Zn       Indus    Chas   NOx      Rm       Age      Dis      R ⋯
     │ Float64  Float64  Float64  Int64  Float64  Float64  Float64  Float64  I ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 0.00632     18.0     2.31      0    0.538    6.575     65.2   4.09    1 ⋯
   2 │ 0.02731      0.0     7.07      0    0.469    6.421     78.9   4.9671  2
   3 │ 0.02729      0.0     7.07      0    0.469    7.185     61.1   4.9671  2
   4 │ 0.03237      0.0     2.18      0    0.458    6.998     45.8   6.0622  3
   5 │ 0.06905      0.0     2.18      0    0.458    7.147     54.2   6.0622  3 ⋯
                                                               6 columns omitted

In [89]:
mat = convert(Matrix,boston)

506×14 Matrix{Float64}:
 0.00632  18.0   2.31  0.0  0.538  6.575  …  296.0  15.3  396.9    4.98  24.0
 0.02731   0.0   7.07  0.0  0.469  6.421     242.0  17.8  396.9    9.14  21.6
 0.02729   0.0   7.07  0.0  0.469  7.185     242.0  17.8  392.83   4.03  34.7
 0.03237   0.0   2.18  0.0  0.458  6.998     222.0  18.7  394.63   2.94  33.4
 0.06905   0.0   2.18  0.0  0.458  7.147     222.0  18.7  396.9    5.33  36.2
 0.02985   0.0   2.18  0.0  0.458  6.43   …  222.0  18.7  394.12   5.21  28.7
 0.08829  12.5   7.87  0.0  0.524  6.012     311.0  15.2  395.6   12.43  22.9
 0.14455  12.5   7.87  0.0  0.524  6.172     311.0  15.2  396.9   19.15  27.1
 0.21124  12.5   7.87  0.0  0.524  5.631     311.0  15.2  386.63  29.93  16.5
 0.17004  12.5   7.87  0.0  0.524  6.004     311.0  15.2  386.71  17.1   18.9
 0.22489  12.5   7.87  0.0  0.524  6.377  …  311.0  15.2  392.52  20.45  15.0
 0.11747  12.5   7.87  0.0  0.524  6.009     311.0  15.2  396.9   13.27  18.9
 0.09378  12.5   7.87  0.0  0.524  5.889     311.0  15.2  390.5   15.71  21.7
 ⋮                                 ⋮      ⋱          ⋮
 0.27957   0.0   9.69  0.0  0.585  5.926     391.0  19.2  396.9   13.59  24.5
 0.17899   0.0   9.69  0.0  0.585  5.67   …  391.0  19.2  393.29  17.6   23.1
 0.2896    0.0   9.69  0.0  0.585  5.39      391.0  19.2  396.9   21.14  19.7
 0.26838   0.0   9.69  0.0  0.585  5.794     391.0  19.2  396.9   14.1   18.3
 0.23912   0.0   9.69  0.0  0.585  6.019     391.0  19.2  396.9   12.92  21.2
 0.17783   0.0   9.69  0.0  0.585  5.569     391.0  19.2  395.77  15.1   17.5
 0.22438   0.0   9.69  0.0  0.585  6.027  …  391.0  19.2  396.9   14.33  16.8
 0.06263   0.0  11.93  0.0  0.573  6.593     273.0  21.0  391.99   9.67  22.4
 0.04527   0.0  11.93  0.0  0.573  6.12      273.0  21.0  396.9    9.08  20.6
 0.06076   0.0  11.93  0.0  0.573  6.976     273.0  21.0  396.9    5.64  23.9
 0.10959   0.0  11.93  0.0  0.573  6.794     273.0  21.0  393.45   6.48  22.0
 0.04741   0.0  11.93  0.0  0.573  6.03   …  273.0  21.0  396.9    7.88  11.9

In [91]:
first(mat,6)

6-element Vector{Float64}:
 0.00632
 0.02731
 0.02729
 0.03237
 0.06905
 0.02985

In [92]:
mat[1:5,1:5]

5×5 Matrix{Float64}:
 0.00632  18.0  2.31  0.0  0.538
 0.02731   0.0  7.07  0.0  0.469
 0.02729   0.0  7.07  0.0  0.469
 0.03237   0.0  2.18  0.0  0.458
 0.06905   0.0  2.18  0.0  0.458

In [105]:
# Adding column
boston.Crim_x_Zn = boston.Crim .* boston.Zn;

In [101]:
boston.Crim_x_Zn

506-element Vector{Float64}:
 0.11376
 0.0
 0.0
 0.0
 0.0
 0.0
 1.1036249999999999
 1.8068750000000002
 2.6405000000000003
 2.1255
 2.811125
 1.468375
 1.17225
 ⋮
 0.0
 0.0
 0.0
 0.0
 0.0
 0.0
 0.0
 0.0
 0.0
 0.0
 0.0
 0.0

In [95]:
typeof(boston.Crim_x_Zn)

Vector{Float64} (alias for Array{Float64, 1})

In [96]:
typeof(boston)

DataFrame

In [104]:
describe(boston)

15×7 DataFrame
 Row │ variable   mean        min      median     max      nmissing  eltype
     │ Symbol     Float64     Real     Float64    Real     Int64     DataType
─────┼────────────────────────────────────────────────────────────────────────
   1 │ Crim         3.61352   0.00632    0.25651  88.9762         0  Float64
   2 │ Zn          11.3636        0.0    0.0        100.0         0  Float64
   3 │ Indus       11.1368       0.46    9.69       27.74         0  Float64
   4 │ Chas         0.06917         0    0.0            1         0  Int64
   5 │ NOx          0.554695    0.385    0.538      0.871         0  Float64
   6 │ Rm           6.28463     3.561    6.2085      8.78         0  Float64
   7 │ Age         68.5749        2.9   77.5        100.0         0  Float64
   8 │ Dis          3.79504    1.1296    3.20745  12.1265         0  Float64
   9 │ Rad          9.54941         1    5.0           24         0  Int64
  10 │ Tax        408.237         187  330.0          711         0  Int64
  11 │ PTRatio     18.4555       12.6   19.05        22.0         0  Float64
  12 │ Black      356.674        0.32  391.44       396.9         0  Float64
  13 │ LStat       12.6531       1.73   11.36       37.97         0  Float64
  14 │ MedV        22.5328        5.0   21.2         50.0         0  Float64
  15 │ Crim_x_Zn    0.92629       0.0    0.0      16.5052         0  Float64

In [108]:
# Missing values

mao = dataset("gap","mao")
describe(mao)

19×7 DataFrame
 Row │ variable  mean      min      median  max      nmissing  eltype          ⋯
     │ Symbol    Union…    Any      Union…  Any      Int64     Type            ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ ID                  2341.00          Grid H9         0  String          ⋯
   2 │ Type      0.538235  0        1.0     1               0  Int64
   3 │ Gender    0.558824  0        1.0     1               0  Int64
   4 │ Age       73.5395   26       77.0    91            188  Union{Missing,
   5 │ AAO       53.0682   33       55.0    71            296  Union{Missing,  ⋯
   6 │ AAD       54.6222   35       57.0    72            295  Union{Missing,
   7 │ UPDRS     17.359    8        17.0    33            301  Union{Missing,
   8 │ MAOAI2              104              126/126         0  String
   9 │ AI2Code             1                9/9             0  String          ⋯
  10 │ MAOBI2              167/173          185             0  String
  11 │ BI2Code             1/3              9               0  String
  12 │ GTBEX3              243              259/259         0  String
  13 │ BEX3Code            1                6/6             0  String          ⋯
  14 │ MAOAVNTR            287/349          379            46  Union{Missing,
  15 │ VNTRCode            2/4              5              46  Union{Missing,
  16 │ VNTRCod2            1/4              5              46  Union{Missing,
  17 │ MAOA31              283/308          340            36  Union{Missing,  ⋯
  18 │ MAO31COD            A/B              C/C            36  Union{Missing,
  19 │ MAO31CO2            1/2              3/3            36  Union{Missing,
                                                                1 column omitted

In [110]:
describe(mao,:nmissing)

19×2 DataFrame
 Row │ variable  nmissing
     │ Symbol    Int64
─────┼────────────────────
   1 │ ID               0
   2 │ Type             0
   3 │ Gender           0
   4 │ Age            188
   5 │ AAO            296
   6 │ AAD            295
   7 │ UPDRS          301
   8 │ MAOAI2           0
   9 │ AI2Code          0
  10 │ MAOBI2           0
  11 │ BI2Code          0
  12 │ GTBEX3           0
  13 │ BEX3Code         0
  14 │ MAOAVNTR        46
  15 │ VNTRCode        46
  16 │ VNTRCod2        46
  17 │ MAOA31          36
  18 │ MAO31COD        36
  19 │ MAO31CO2        36

In [111]:
std(mao.Age)

missing

In [112]:
std(skipmissing(mao.Age))

11.551715894987558

## Split Apply Combine

In [113]:
iris = dataset("datasets","iris")
first(iris,3)

3×5 DataFrame
 Row │ SepalLength  SepalWidth  PetalLength  PetalWidth  Species
     │ Float64      Float64     Float64      Float64     Cat…
─────┼───────────────────────────────────────────────────────────
   1 │         5.1         3.5          1.4         0.2  setosa
   2 │         4.9         3.0          1.4         0.2  setosa
   3 │         4.7         3.2          1.3         0.2  setosa

## Groupby

In [115]:
sb_df = unique(iris.Species)

3-element Vector{String}:
 "setosa"
 "versicolor"
 "virginica"

In [116]:
typeof(sb_df)

Vector{String} (alias for Array{String, 1})

In [117]:
gdf = groupby(iris, :Species)

GroupedDataFrame with 3 groups based on key: Species
First Group (50 rows): Species = CategoricalArrays.CategoricalValue{String, UInt8} "setosa"
 Row │ SepalLength  SepalWidth  PetalLength  PetalWidth  Species
     │ Float64      Float64     Float64      Float64     Cat…
─────┼───────────────────────────────────────────────────────────
   1 │         5.1         3.5          1.4         0.2  setosa
   2 │         4.9         3.0          1.4         0.2  setosa
   3 │         4.7         3.2          1.3         0.2  setosa
   4 │         4.6         3.1          1.5         0.2  setosa
   5 │         5.0         3.6          1.4         0.2  setosa
   6 │         5.4         3.9          1.7         0.4  setosa
   7 │         4.6         3.4          1.4         0.3  setosa
   8 │         5.0         3.4          1.5         0.2  setosa
   9 │         4.4         2.9          1.4         0.2  setosa
  10 │         4.9         3.1          1.5         0.1  setosa
  11 │         5.4         3.7          1.5         0.2  setosa
  ⋮  │      ⋮           ⋮            ⋮           ⋮          ⋮
  40 │         5.1         3.4          1.5         0.2  setosa
  41 │         5.0         3.5          1.3         0.3  setosa
  42 │         4.5         2.3          1.3         0.3  setosa
  43 │         4.4         3.2          1.3         0.2  setosa
  44 │         5.0         3.5          1.6         0.6  setosa
  45 │         5.1         3.8          1.9         0.4  setosa
  46 │         4.8         3.0          1.4         0.3  setosa
  47 │         5.1         3.8          1.6         0.2  setosa
  48 │         4.6         3.2          1.4         0.2  setosa
  49 │         5.3         3.7          1.5         0.2  setosa
  50 │         5.0         3.3          1.4         0.2  setosa
                                                  28 rows omitted
⋮
Last Group (50 rows): Species = CategoricalArrays.CategoricalValue{String, UInt8} "virginica"
 Row │ SepalLength  SepalWidth  PetalLength  PetalWidth  Species
     │ Float64      Float64     Float64      Float64     Cat…
─────┼─────────────────────────────────────────────────────────────
   1 │         6.3         3.3          6.0         2.5  virginica
   2 │         5.8         2.7          5.1         1.9  virginica
   3 │         7.1         3.0          5.9         2.1  virginica
   4 │         6.3         2.9          5.6         1.8  virginica
   5 │         6.5         3.0          5.8         2.2  virginica
   6 │         7.6         3.0          6.6         2.1  virginica
   7 │         4.9         2.5          4.5         1.7  virginica
   8 │         7.3         2.9          6.3         1.8  virginica
   9 │         6.7         2.5          5.8         1.8  virginica
  10 │         7.2         3.6          6.1         2.5  virginica
  11 │         6.5         3.2          5.1         2.0  virginica
  ⋮  │      ⋮           ⋮            ⋮           ⋮           ⋮
  40 │         6.9         3.1          5.4         2.1  virginica
  41 │         6.7         3.1          5.6         2.4  virginica
  42 │         6.9         3.1          5.1         2.3  virginica
  43 │         5.8         2.7          5.1         1.9  virginica
  44 │         6.8         3.2          5.9         2.3  virginica
  45 │         6.7         3.3          5.7         2.5  virginica
  46 │         6.7         3.0          5.2         2.3  virginica
  47 │         6.3         2.5          5.0         1.9  virginica
  48 │         6.5         3.0          5.2         2.0  virginica
  49 │         6.2         3.4          5.4         2.3  virginica
  50 │         5.9         3.0          5.1         1.8  virginica
                                                    28 rows omitted

In [119]:
gdf[1]

50×5 SubDataFrame
 Row │ SepalLength  SepalWidth  PetalLength  PetalWidth  Species
     │ Float64      Float64     Float64      Float64     Cat…
─────┼───────────────────────────────────────────────────────────
   1 │         5.1         3.5          1.4         0.2  setosa
   2 │         4.9         3.0          1.4         0.2  setosa
   3 │         4.7         3.2          1.3         0.2  setosa
   4 │         4.6         3.1          1.5         0.2  setosa
   5 │         5.0         3.6          1.4         0.2  setosa
   6 │         5.4         3.9          1.7         0.4  setosa
   7 │         4.6         3.4          1.4         0.3  setosa
   8 │         5.0         3.4          1.5         0.2  setosa
   9 │         4.4         2.9          1.4         0.2  setosa
  10 │         4.9         3.1          1.5         0.1  setosa
  11 │         5.4         3.7          1.5         0.2  setosa
  ⋮  │      ⋮           ⋮            ⋮           ⋮          ⋮
  41 │         5.0         3.5          1.3         0.3  setosa
  42 │         4.5         2.3          1.3         0.3  setosa
  43 │         4.4         3.2          1.3         0.2  setosa
  44 │         5.0         3.5          1.6         0.6  setosa
  45 │         5.1         3.8          1.9         0.4  setosa
  46 │         4.8         3.0          1.4         0.3  setosa
  47 │         5.1         3.8          1.6         0.2  setosa
  48 │         4.6         3.2          1.4         0.2  setosa
  49 │         5.3         3.7          1.5         0.2  setosa
  50 │         5.0         3.3          1.4         0.2  setosa
                                                  29 rows omitted

In [121]:
subdf_setosa = gdf[1];

In [122]:
describe(subdf_setosa)

5×7 DataFrame
 Row │ variable     mean    min     median  max     nmissing  eltype           ⋯
     │ Symbol       Union…  Any     Union…  Any     Int64     DataType         ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ SepalLength  5.006   4.3     5.0     5.8            0  Float64          ⋯
   2 │ SepalWidth   3.428   2.3     3.4     4.4            0  Float64
   3 │ PetalLength  1.462   1.0     1.5     1.9            0  Float64
   4 │ PetalWidth   0.246   0.1     0.2     0.6            0  Float64
   5 │ Species              setosa          setosa         0  CategoricalValue ⋯
                                                                1 column omitted

In [123]:
typeof(subdf_setosa)

SubDataFrame{DataFrame, DataFrames.Index, Vector{Int64}}

## Combine
The combine function allows to derive a new dataframe out of transformations of an existing one.

In [125]:
df =  DataFrame(a=1:3, b=4:6)

3×2 DataFrame
 Row │ a      b
     │ Int64  Int64
─────┼──────────────
   1 │     1      4
   2 │     2      5
   3 │     3      6

In [126]:
combine(df, :a =>sum, nrow)

1×2 DataFrame
 Row │ a_sum  nrow
     │ Int64  Int64
─────┼──────────────
   1 │     6      3

In [130]:
combine(df, :b =>sum, nrow)

1×2 DataFrame
 Row │ b_sum  nrow
     │ Int64  Int64
─────┼──────────────
   1 │    15      3

In [131]:
df

3×2 DataFrame
 Row │ a      b
     │ Int64  Int64
─────┼──────────────
   1 │     1      4
   2 │     2      5
   3 │     3      6

In [138]:
foo(v) = v[1:2]
combine(df, :a => maximum, :b => foo)

2×2 DataFrame
 Row │ a_maximum  b_foo
     │ Int64      Int64
─────┼──────────────────
   1 │         3      4
   2 │         3      5

In [140]:
foo([13,5])

2-element Vector{Int64}:
 13
  5

In [142]:
combine(df,:a => maximum)

1×1 DataFrame
 Row │ a_maximum
     │ Int64
─────┼───────────
   1 │         3

In [143]:
combine(df, :b => foo)

2×1 DataFrame
 Row │ b_foo
     │ Int64
─────┼───────
   1 │     4
   2 │     5

## combine with groupby

In [149]:
combine(groupby(iris, :Species), :PetalLength => mean)

3×2 DataFrame
 Row │ Species     PetalLength_mean
     │ Cat…        Float64
─────┼──────────────────────────────
   1 │ setosa                 1.462
   2 │ versicolor             4.26
   3 │ virginica              5.552

In [150]:
combine(groupby(iris, :Species), :PetalLength => mean => :MPL, :PetalLength => std => :STD)

3×3 DataFrame
 Row │ Species     MPL      STD
     │ Cat…        Float64  Float64
─────┼───────────────────────────────
   1 │ setosa        1.462  0.173664
   2 │ versicolor    4.26   0.469911
   3 │ virginica     5.552  0.551895

In [153]:
combine(groupby(iris, :Species), names(iris,Not(:Species)) .=> std)

3×5 DataFrame
 Row │ Species     SepalLength_std  SepalWidth_std  PetalLength_std  PetalWidt ⋯
     │ Cat…        Float64          Float64         Float64          Float64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ setosa             0.35249         0.379064         0.173664        0.1 ⋯
   2 │ versicolor         0.516171        0.313798         0.469911        0.1
   3 │ virginica          0.63588         0.322497         0.551895        0.2
                                                                1 column omitted